{{set . "title" "Home"}}
{{template "header.html" .}}

<div id="login">

  <p><div class="jumbotron">
    <form action='{{url "Application.Login"}}' id="formLogin" method="POST">
      <p class="field">
        <label>Login Name:
          <input type="text" name="username" size="19" value="{{.flash.username}}"/>
        </label>
      </p>
      <p class="field">
        <label>Password:
          <input type="password" name="password" size="19"/>
        </label>
      </p>
      <p class="field">
        <label>Remember me:
          <input type="checkbox" name="remember" value="true"/>
        </label>
      </p>
      <p class="buttons">
        <input type="submit" class="btn btn-lg btn-success" value="Account login" />
      </p>
    </form>
  </div></p>

  <p>
    <a href="{{url "Application.Register"}}">Register New User</a>
  </p>

</div>

{{template "footer.html" .}}
